<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    {% block menu %}
    <div class="menu">
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/shop/">Магазин</a></li>
            <li><a href="/authors/">Авторы</a></li>
            <li><a href="/contact_us/">Связаться с нами</a></li>
            <li><a href="/messages/">Сообщения</a></li>
            <li><a href="/admin/">Панель администратора</a></li>
        </ul>
        <hr>
        <h2>Меню администратора</h2>
        <ul>
            <li><a href="/admin/create_category">Создать категорию</a></li>
            <li><a href="/admin/create_product">Создать товар</a></li>
        </ul>
    </div>
    {% endblock %}
    <hr>
    {% block main %}
    {% endblock %}
    <hr>
</body>

</html>