{% extends "base.html" %}
{% block title %}Index{% endblock %}


{% block main %}
<h1>Наш магазин предлогает:</h1>
<div class="shop">
    <div class="categories">
        <h4>Каталог: </h4>
        <form method="post">
            <ul>
                {% for category in categories %}
                <li>
                    <button type="submit" name="find_category" value={{ category.name }}>{{ category.name }}</button>
                </li>
                {% endfor %}
            </ul>
        </form>
    </div>
    <div class="products"></div>

    <h4>доступные товары:</h4>
    <ul>
        {% for el in product_list %}
        <li>
            <div class="product">
                Товар: <br>
                {{ el.name }} <br>
                Цена товара: <br>
                {{ el.price }} <br>
            </div>
        </li>
        {% endfor %}
    </ul>

</div>

{% endblock %}